h1 {
    color: red;
}

body{
background-color: #D7EFF2; 
}

#koptekst { 
	background-color: lime; 
	font-size: 2em;
}

li {
	color: blue;
	font-size: 1.2em;

}

#jonkoblad {
	width:420, height:420;
}










} 
